@charset "UTF-8";
@media screen and (min-width: 1024px) {
    * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html {
        height: 100%;
        background-image: linear-gradient(to bottom, #f18407, #e68e2a, #ebab62);
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    main {
        flex: 1;
        background-image: linear-gradient(to bottom, #f18407, #e68e2a, #ebab62);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home_img {
        display: block;
        margin: auto;
    }

    #menu {
        background-color: #f18407;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #menu ul {
        text-align: center;
        list-style: none;
        padding: 10px;
        margin: 0px;
        margin-top: 20px;
    }

    #menu ul li {
        display: inline;
        margin-right: 0px;
        padding: 5px;
        position: relative;
        /* Isso garante que o dropdown seja posicionado corretamente */
    }

    #menu ul li a {
        text-decoration: none;
        background-color: orangered;
        color: white;
        box-shadow: 0px 0px 5px rgb(63, 63, 63);
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    #menu ul li a:hover {
        background-color: white;
        color: orangered;
    }

    footer {
        position: fixed;
        bottom: 0;
        /* Mantém o footer no fundo da página */
        width: 100%;
        /* Faz o footer ter a largura total */
        text-align: center;
        background-color: orangered;
        padding: 5px;
    }

    footer p a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-shadow: 0px 0px 5px black;
    }

    footer p a:hover {
        color: black;
    }

    /* Conteúdo do dropdown (opções ocultas inicialmente) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(255, 12, 12, 0);
        /* Mude para uma cor com transparência */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(255, 0, 0, 0);
        z-index: 1;
        top: 100%;
        /* Posiciona logo abaixo do item pai */
        left: 0;
        /* Alinha com o item "PROCEDIMENTOS" */
    }


    /* Links dentro das opções do dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /* Mudar cor de fundo ao passar o mouse sobre as opções */
    .dropdown-content a:hover {
        background-color: orangered;
    }

    /* Mostrar o conteúdo do dropdown ao passar o mouse */
    .dropdown:hover .dropdown-content {
        display: block;
        background-color: rgba(0, 0, 0, 0);
    }
/* Estilo DER */
    #procedder {
        margin-top: 10px;
        background-color: rgb(230, 230, 230);
        width: 100%;
        max-width: 75%;
        /* Limita a largura máxima */
        height: 900px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.918);
        border-radius: 3px;
        padding: 20px;
    }

    main #procedder ul,
    main #procedder ol {
        padding-left: 40px;
    }

    main #procedder li {
        list-style-position: inside;
    }

/* Estilo ANTT */

    #procedantt {
        margin-top: 10px;
        background-color: rgb(230, 230, 230);
        width: 100%;
        max-width: 75%;
        /* Limita a largura máxima */
        height: 800px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.918);
        border-radius: 3px;
        padding: 20px;
    }

    main #procedantt ul,
    main #procedantt ol {
        padding-left: 40px;
    }

    main #procedantt li {
        list-style-position: inside;
    }

/* Estilo DETRAN */

    #procedetran {
        margin-top: 10px;
        background-color: rgb(230, 230, 230);
        width: 100%;
        max-width: 75%;
        /* Limita a largura máxima */
        height: 1050px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.918);
        border-radius: 3px;
        padding: 20px;
    }

    main #procedetran ul,
    main #procedetran ol {
        padding-left: 40px;
    }

    main #procedetran li {
        list-style-position: inside;
    }


    p {
        margin-top: 10px;
    }

    h1 {
        text-align: center;
    }

    h2 {
        margin-top: 10px;
    }

    table {
        margin-top: 8px;
        border-collapse: collapse;
        width: 40%;
    }

    th,
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

   #arquivos{
    margin-top: 20px;
   }

    .pdf{
        text-decoration: none;
    }
    
    .botao {
        margin-top: 20px;
        border-radius: 10px;
        background-color: #FFA500; /* Light orange color */
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .botao:hover {
        background-color: #FF8C00; /* Darker orange on hover */
        transform: scale(1.05);
    }
    
    .linkdetran{
        background-color: red;
    }

}