@charset "UTF-8";
@media screen and (min-width: 768px) {
    

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #ebab62;
}

body main {
    height: 100%;
    background-image: linear-gradient(to bottom, #f18407, #e68e2a, #ebab62);
    padding-top: 100px;
}

#menu {
    background-color: #f18407;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
}

#menu ul {
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 0px;
    margin-top: 20px;
}

#menu ul li {
    display:inline;
    margin-right: 0px;
    padding: 5px;
    position: relative;
}

#menu ul li a {
    text-decoration: none;
    background-color: orangered;
    color: white;
    box-shadow: 0px 0px 5px rgb(63, 63, 63);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu ul li a:hover {
    background-color: white;
    color: orangered;
}
}

#div_tabela {
    background-color: rgb(255, 255, 255);
    width: 95%;
    min-width: 150px;
    margin: auto;
    box-shadow: 0px 0px 3px black;
}

main table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    min-width: 150px;
    margin-bottom: 5px;
}

main table thead tr,th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    background-color: orangered;
    color: white;   
}

main table tbody tr,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

main table tbody tr:hover {
    font-weight: bold;
    background-color: rgb(240, 167, 107);
}

.href_whats {
    text-decoration: none;
    color: black;
}

.href_whats:hover {
    background-color: rgb(57, 223, 7);
    padding: 3px 5px;
    border-radius: 20px;
}

.th1 {
    padding: 5px 30px 
}

    .th2 {
        padding: 5px 5px 
    }

        .th3 {
            padding: 5px 50px 
            
        }


@media (max-width: 1080px) {
    #div_tabela {
    overflow-x: scroll;
    }
}
/* Conteúdo do dropdown (opções ocultas inicialmente) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 12, 12, 0); /* Mude para uma cor com transparência */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 0, 0, 0);
    z-index: 1;
    top: 100%; /* Posiciona logo abaixo do item pai */
    left: 0; /* Alinha com o item "PROCEDIMENTOS" */
}


/* Links dentro das opções do dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Mudar cor de fundo ao passar o mouse sobre as opções */
.dropdown-content a:hover {
    background-color: orangered;
}

/* Mostrar o conteúdo do dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
    #menu ul li {
        display: block;
        text-align: left;
    }

    .dropdown-content {
        position: static;
        width: 100%;
        box-shadow: none;
    }
}

