@charset "UTF-8";
@media (max-width: 1024px) {

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-image:  linear-gradient(to bottom, #f18407, #e68e2a, #ebab62);
}

body main {
    height: 100%;
    background-image:  linear-gradient(to bottom, #f18407, #e68e2a, #ebab62);
    padding-top: 100px;
}

body header span#menuBurguer {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    text-align: center;
    background-color: orangered;
    padding: 10px;
    margin: 3pxpx;
}

header nav#menu {
    display: none;
    text-align: center;
    background-color: #f18407;
}

    body header nav#menu ul li {
        background-color: orangered;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
    }

        body header nav#menu ul li a {
            display: block;
            font-weight: bold;
            text-decoration: none;
            color: white;
            font-size: 1em;
            padding: 2px;
            border-radius: 5px;
        }

            body header nav#menu ul li a:hover {
                color: orangered;
                background-color: white;
            } 

#menu ul li a {
    text-decoration: none;
    background-color: orangered;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu ul li a:hover {
    background-color: white;
    color: orangered;
}

#address {
    background-color: rgb(255, 255, 255);
    width: 95%;
    min-width: 150px;
    margin: auto;
    box-shadow: 0px 0px 3px black;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
    width: 100%;
}



table thead tr, th {
    padding: 10px;
    border: 1px solid black;
    background-color: orangered;
    font-weight: bold;
    color: white;
    font-size: 17px;

}

table tbody tr, td {
    border: 1px solid black;
    padding: 4px;
    text-align: left;
}

#celula_centro {
    text-align: center;
}

table tr:hover {
    background-color: #e68e2a;
    font-weight: bold;
}

.href_address {
    text-decoration: none;
    color: black;
}

.href_address:hover {
    color: white;
    font-weight: bold;
    background-color: orangered;
    padding: 3px;
    border-radius: 10px;

}

@media (max-width: 1080px) {
    #address {
    overflow-x: scroll;
    }
}

.copyTextStyle {
    color: black;
    cursor: pointer;
}

.copyTextStyle:hover {
    color: white;
    font-weight: bold;
    background-color: orangered;
    padding: 3px;
    border-radius: 10px;

}

}