@charset "UTF-8";
@media (min-width: 500px) and (max-width: 1280px) {

    * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 153px);
        width: 100vw;
        background-image:  linear-gradient(to bottom, #f18407, #e68e2a, #ebab62);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-top: 100px;
    }
    
    #home_img {
        display: block;
        margin-top: -90px;
        width: 250px;
    }
    
    #menu {
        background-color: #f18407;
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0px;
    }
    
    #menu ul {
        text-align: center;
        list-style: none;
        padding: 10px;
        margin: 0px;
        margin-top: 20px;
    }
    
    #menu ul li {
        display:inline;
        margin-right: 0px;
        padding: 5px;
    }
    
    #menu ul li a {
        text-decoration: none;
        background-color: orangered;
        color: white;
        box-shadow: 0px 0px 5px rgb(63, 63, 63);
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    #menu ul li a:hover {
        background-color: white;
        color: orangered;
    }
    
    footer {
        text-align: center;
        background-color: orangered;
        padding: 5px;
    }
    
    footer p a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-shadow: 0px 0px 5px black;
    }
    
    footer p a:hover {color: black;}
}