@charset "UTF-8";

@media (max-width: 768px) {
    * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html {
        height: 100vh; 
        background-image:  linear-gradient(to bottom, #f18407, #e68e2a, #ebab62); 
    }

    body header span#menuBurguer {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        display: block;
        text-align: center;
        background-color: orangered;
        padding: 10px;
        margin: 3pxpx;
    }

    header nav#menu {
        display: none;
        text-align: center;
        background-color: #f18407;
    }

        body header nav#menu ul li {
            background-color: orangered;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
        }

            body header nav#menu ul li a {
                display: block;
                font-weight: bold;
                text-decoration: none;
                color: white;
                font-size: 1em;
                padding: 2px;
                border-radius: 5px;
            }

                body header nav#menu ul li a:hover {
                    color: orangered;
                    background-color: white;
                }        

    body main {
        background-image:  linear-gradient(to bottom, #f18407, #e68e2a, #ebab62);
        background-repeat: no-repeat;
        width: 100vw;
        height: calc(100vh - 60px);
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #home_img {
        margin: auto;
        width: 300px;
        height: 300px;
        margin-top: 100px;
    }

    footer {
        text-align: center;
        background-color: orangered;
        padding: 5px;
    }

    footer p a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-shadow: 0px 0px 5px black;
    }
    
        footer p a:hover {color: black;}
}